torch>=2.0
diffusers>=0.25.0
transformers>=4.30.0
accelerate
open_clip_torch
torchvision
numpy
pandas
Pillow
tqdm
scipy
scikit-learn
pytorch-lightning
vendi-score
clip @ git+https://github.com/openai/CLIP.git
dgm-eval
